{% extends 'first/base.html' %}
{% load static %}
{% block title %}
    posts_list
{% endblock %}
{% block style%}
<link rel="stylesheet" href="{% static 'first/post_list.css' %}">
{% endblock %}
{% block content%}
    <div>
        {% if post_list %}
            {% for post in post_list %}

                 <div class="container bg-dark mb-2" >
                      <div class="row align-items-center mx-auto" id="content">
                          {% if post.image %}
                              <div id="content" class="col"><img src="{{ post.image.url }}" alt="postimg" class="img-fluid"></div>
                          {% endif %}
                        <div class="col">
                          <span><p class="h4">{{ post.title }}</p></span>
                          <p class="text-light">{{ post.body|truncatewords:3 }}<span><a href="{{ post.get_absolute_url }}">..Readmore</a></span></p>
                        </div>
                      </div>
                 </div>
            {% endfor %}


                <div class="paginator">
                    <span class="step-links">
                        {% if post_list.has_previous %}
                            <a href="?page={{ post_list.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% for page_num in post_list.paginator.page_range %}
                            <span>{{ page_num }}</span>
                        {% endfor %}

                        <span class="current">
                            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}
                        </span>

                        {% if post_list.has_next %}
                            <a href="?page={{ post_list.next_page_number }}">Next</a>
                            <a href="?page={{ post_list.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
            <b class="text-light text-center text-uppercase mx-auto"> no posts</b>
        {% endif %}

    {% endblock %}
</div>